nav{
    margin-right: auto;
    margin-left: auto;
    width:520px;
    z-index:1;
    font-family: "Montserrat", sans-serif;
}
nav ul {
    background-color: #587498;
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    overflow:hidden;
    text-align:center;
    border-radius: 10px 10px 10px 10px;
}
nav li {
    float:left;

}
nav li a {
    display:block;
    padding:8px 16px;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color:white;
    background-color: #003366;
}
li.dropdown {
    display: inline-block;
}
