body{
  font-family: "Montserrat", sans-serif;
}
header {
text-align: center;
}
#logo{
  width: 35vw;
}
nav{
    background-color: #587498;
    text-align: center;
    width:100vw;
    height: 3vw;
    overflow: none;
}
nav ul {
    font-size: 1.5vw;
    list-style-type:none;
    color: white;
    background-color: #587498;
    overflow: none;
}
nav li {
  display: inline-block;
  overflow: none;
}

li a, .dropbtn {
    padding: 1.0vw .75vw;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}
li:hover {
    background-color:  #003366;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;

}

.dropdown-content a {
    color: black;
    padding: 1.3vw 3vw;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: #e2e2e2}

.dropdown:hover .dropdown-content {
    display: block;
}
