body{
font-family: "Graphik Web","Arial","Helvetica","sans-serif";
background-color: white;
box-sizing: border-box;
}
header{
}
a{
  color: #333;
  text-decoration: none;
  padding: 10px;
}
.navbar{
  border-top: 1px solid #E1E3DF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(225, 227, 223);
  background-color: #f1f1f1;
  width: 100%;
  border-bottom: 1px solid #E1E3DF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(225, 227, 223);
  margin-bottom: 3vh;
}
.navbar ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.navbar li{
    display: inline-block;
}
.navbar a:hover{
    text-decoration: underline;
    color:#f56400;
}
.container{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;;
  background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.1) ), url("../images/cover.jpg");
  background-size: cover;
  width: 85vw;
  min-height: 15vw;
  max-height: 18vw;
}
.inner-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inner-search input{
  width: 20vw;
  height: 3vh;
  border-bottom-color: rgb(173, 174, 170);
}
.inner-search button{
  height: 3vh;
}

.inner-text {
  color: white;
  text-shadow: 1px 1px 0 black;
  font-style: oblique;
  font-size: 26px;
  text-align: center;
}
article{
  margin: auto;
  margin-top: 2vh;
  width:85vw;
  height: 75vh;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  background: #f1f1f1;
  overflow: visible;
}
.flex-text{
  margin: auto;
  width: 85%;
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}
.flex-box{
  min-width: 350px;
  max-width: 85%;
}

#contact-reasons{
  border-color: rgba(0, 0, 0, 0.1);
  text-align: left;
}

#contact-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.orange-button{
    background-color: #F56400;
    width: 35%;
    height: 3vh;
    border-color: rgba(0, 0, 0, 0.1);
    color: #FFF;
}
