.inner-text {
    font-size: 2.65vw;
    text-shadow: .5px .5px 0 black;
}

.inner-search input{
  width: 50vw;
  height: 3vh;
  border-bottom-color: rgb(173, 174, 170);
  text-align: center;
  margin-bottom: 10px;
}
section{
  background-color: white;
  padding-bottom: 2vh;
  border: none;
}
section #item-paragraph{
  padding-left: 3%;
  padding-right: 3%;
  font-size: 1.3em;
  text-align: left;
}
.howto-text{
  width: 80%;
  margin: auto;
}
.php_large_only{
  display: none;
}
.about-text{
  text-align: left;
  font-size: 2.25vw;
  padding-left: 10px;
  padding-right:10px;
}
}
section h1{
  font-size: 4vw;
}
